<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.survey.dao.AnswerDao">
    <resultMap id="BaseResultMap" type="Answer">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="answer_content" property="answerContent" jdbcType="VARCHAR"/>
        <result column="answer_uuid" property="answerUuid" jdbcType="VARCHAR"/>
        <result column="survey_id" property="surveyId" jdbcType="BIGINT"/>
        <result column="question_id" property="questionId" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="is_delete" property="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="allColumnsWithOutId">
        (answer_content,answer_uuid,survey_id,question_id,create_time,update_time,create_user,update_user,is_delete)
    </sql>

    <sql id="allColumns">
        id,answer_content,answer_uuid,survey_id,question_id,create_time,update_time,create_user,update_user,is_delete
    </sql>

    <!-- 插入方法，插入后返回主键-->
    <insert id="insert" parameterType="Answer" useGeneratedKeys="true" keyProperty="id">
        insert into answer
        <include refid="allColumnsWithOutId"/>
        values (
        #{answerContent,jdbcType=VARCHAR},
        #{answerUuid,jdbcType=VARCHAR},
        #{surveyId,jdbcType=BIGINT},
        #{questionId,jdbcType=BIGINT},
        now(),
        now(),
        #{createUser,jdbcType=VARCHAR},
        #{createUser,jdbcType=VARCHAR},
        0
        )
    </insert>

    <update id="update" parameterType="User">
        update answer
        <set>
            update_time = now(),update_user=#{updateUser,jdbcType=VARCHAR},
            <trim>
                <if test="answerContent != null and answerContent != ''">
                    answer_content = #{answerContent,jdbcType=VARCHAR},
                </if>
                <if test="answerUuid != null and answerUuid != ''">
                    answer_uuid = #{answerUuid,jdbcType=VARCHAR},
                </if>
                <if test="surveyId != null">
                    survey_id = #{surveyId,jdbcType=BIGINT},
                </if>
                <if test="questionId != null">
                    question_id = #{questionId,jdbcType=BIGINT},
                </if>
            </trim>
        </set>
        where id =#{id,jdbcType=BIGINT}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        update answer set is_delete = 1,update_time = now() where id = #{id,jdbcType=BIGINT}
    </delete>

    <select id="getAnswerByCondition" resultMap="BaseResultMap" parameterType="AnswerCondition" useCache="true">
        SELECT
        <include refid="allColumns"/>
        from answer
        <where>
            <if test="id != null and id != 0">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="answerContent != null and answerContent != ''">
                and answer_content = #{answerContent,jdbcType=VARCHAR}
            </if>
            <if test="answerUuid != null and answerUuid != ''">
                and answer_uuid = #{answerUuid,jdbcType=VARCHAR}
            </if>
            <if test="surveyId != null">
                and survey_id = #{surveyId,jdbcType=BIGINT}
            </if>
            <if test="questionId != null">
                and question_id = #{questionId,jdbcType=BIGINT}
            </if>
            <choose>
                <when test="isDelete != null">
                    and is_delete = #{isDelete,jdbcType=TINYINT}
                </when>
                <otherwise>
                    and is_delete = 0
                </otherwise>
            </choose>
        </where>
        limit 1
    </select>

    <!-- 插入方法，插入后返回主键-->
    <insert id="insertBatch" parameterType="java.util.ArrayList">
        insert into answer
        <include refid="allColumnsWithOutId"/>
        values
        <foreach collection="answerList" item="item" index="index" separator=",">
            <trim prefix="(" suffix=")">
                #{item.answerContent,jdbcType=VARCHAR},
                #{item.answerUuid,jdbcType=VARCHAR},
                #{item.surveyId,jdbcType=BIGINT},
                #{item.questionId,jdbcType=BIGINT},
                now(),
                now(),
                #{item.createUser,jdbcType=VARCHAR},
                #{item.createUser,jdbcType=VARCHAR},
                0
            </trim>
        </foreach>
    </insert>

    <select id="findAnswerContentListByQuestionId" parameterType="java.lang.Long" resultType="java.lang.String">
        select answer_content
        from answer
        where question_id = #{questionId,jdbcType=BIGINT}
        and is_delete = 0
    </select>

</mapper>