<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.survey.dao.SurveyDao">
    <resultMap id="BaseResultMap" type="Survey">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="survey_no" property="surveyNo" jdbcType="VARCHAR"/>
        <result column="survey_name" property="surveyName" jdbcType="VARCHAR"/>
        <result column="survey_status" property="surveyStatus" jdbcType="TINYINT"/>
        <result column="logo_path" property="logoPath" jdbcType="VARCHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="is_delete" property="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <resultMap id="SurveyWithBagAndQuestionsMap" type="Survey">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="survey_no" property="surveyNo" jdbcType="VARCHAR"/>
        <result column="survey_name" property="surveyName" jdbcType="VARCHAR"/>
        <result column="survey_status" property="surveyStatus" jdbcType="TINYINT"/>
        <result column="logo_path" property="logoPath" jdbcType="VARCHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="s_create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="s_update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="s_create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="s_update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="s_is_delete" property="isDelete" jdbcType="TINYINT"/>
        <collection property="bagSet" column="bag_id" ofType="Bag">
            <result column="bag_id" property="id" jdbcType="BIGINT"/>
            <result column="bag_no" property="bagNo" jdbcType="VARCHAR"/>
            <result column="bag_name" property="bagName" jdbcType="VARCHAR"/>
            <result column="bag_order" property="bagOrder" jdbcType="INTEGER"/>
            <result column="survey_id" property="surveyId" jdbcType="BIGINT"/>
            <result column="b_create_time" property="createTime" jdbcType="TIMESTAMP"/>
            <result column="b_update_time" property="updateTime" jdbcType="TIMESTAMP"/>
            <result column="b_create_user" property="createUser" jdbcType="VARCHAR"/>
            <result column="b_update_user" property="updateUser" jdbcType="VARCHAR"/>
            <result column="b_is_delete" property="isDelete" jdbcType="TINYINT"/>
            <collection property="questionSet" column="question_id" ofType="Question">
                <result column="question_id" property="id" jdbcType="BIGINT"/>
                <result column="question_no" property="questionNo" jdbcType="VARCHAR"/>
                <result column="question_name" property="questionName" jdbcType="VARCHAR"/>
                <result column="question_type" property="questionType" jdbcType="TINYINT"/>
                <result column="question_options" property="questionOptions" jdbcType="VARCHAR"/>
                <result column="bag_id" property="bagId" jdbcType="BIGINT"/>
                <result column="q_create_time" property="createTime" jdbcType="TIMESTAMP"/>
                <result column="q_update_time" property="updateTime" jdbcType="TIMESTAMP"/>
                <result column="q_create_user" property="createUser" jdbcType="VARCHAR"/>
                <result column="q_update_user" property="updateUser" jdbcType="VARCHAR"/>
                <result column="q_is_delete" property="isDelete" jdbcType="TINYINT"/>
            </collection>
        </collection>
    </resultMap>

    <sql id="allColumnsWithOutId">
        (survey_no,survey_name,survey_status,logo_path,username,create_time,update_time,create_user,update_user,is_delete)
    </sql>

    <sql id="allColumns">
        id,survey_no,survey_name,survey_status,logo_path,username,create_time,update_time,create_user,update_user,is_delete
    </sql>

    <!-- 插入方法，插入后返回主键-->
    <insert id="insert" parameterType="Survey" useGeneratedKeys="true" keyProperty="id">
        insert into survey
        <include refid="allColumnsWithOutId"/>
        values (
        #{surveyNo,jdbcType=VARCHAR},
        #{surveyName,jdbcType=VARCHAR},
        #{surveyStatus,jdbcType=TINYINT},
        #{logoPath,jdbcType=VARCHAR},
        #{username,jdbcType=VARCHAR},
        now(),
        now(),
        #{createUser,jdbcType=VARCHAR},
        #{createUser,jdbcType=VARCHAR},
        0
        )
    </insert>

    <update id="update" parameterType="User">
        update survey
        <set>
            update_time = now(),update_user=#{updateUser,jdbcType=VARCHAR},
            <trim>
                <if test="surveyNo != null and surveyNo != ''">
                    survey_no = #{surveyNo,jdbcType=VARCHAR},
                </if>
                <if test="surveyName != null and surveyName != ''">
                    survey_name = #{surveyName,jdbcType=VARCHAR},
                </if>
                <if test="surveyStatus != null">
                    survey_status = #{surveyStatus,jdbcType=TINYINT},
                </if>
                <if test="logoPath != null and logoPath != ''">
                    logo_path = #{logoPath,jdbcType=VARCHAR},
                </if>
                <if test="username != null and username != ''">
                    username = #{username,jdbcType=VARCHAR},
                </if>
            </trim>
        </set>
        where id =#{id,jdbcType=BIGINT}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        update survey set is_delete = 1,update_time = now() where id = #{id,jdbcType=BIGINT}
    </delete>

    <select id="getSurveyByCondition" resultMap="BaseResultMap" parameterType="SurveyCondition" useCache="true">
        SELECT
        <include refid="allColumns"/>
        from survey
        <where>
            <if test="id != null and id != 0">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="surveyNo != null and surveyNo != ''">
                and survey_no = #{surveyNo,jdbcType=VARCHAR}
            </if>
            <if test="surveyName != null and surveyName != ''">
                and survey_name = #{surveyName,jdbcType=VARCHAR}
            </if>
            <if test="surveyStatus != null">
                and survey_status = #{surveyStatus,jdbcType=TINYINT}
            </if>
            <if test="logoPath != null and logoPath != ''">
                and logo_path = #{logoPath,jdbcType=VARCHAR}
            </if>
            <if test="username != null and username != ''">
                and username = #{username,jdbcType=VARCHAR}
            </if>
            <choose>
                <when test="isDelete != null">
                    and is_delete = #{isDelete,jdbcType=TINYINT}
                </when>
                <otherwise>
                    and is_delete = 0
                </otherwise>
            </choose>
        </where>
        limit 1
    </select>

    <select id="findSurveyList" resultMap="BaseResultMap" parameterType="SurveyCondition" useCache="true">
        SELECT
        <include refid="allColumns"/>
        from survey
        <where>
            <if test="id != null and id != 0">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="surveyNo != null and surveyNo != ''">
                and survey_no = #{surveyNo,jdbcType=VARCHAR}
            </if>
            <if test="surveyName != null and surveyName != ''">
                and survey_name = #{surveyName,jdbcType=VARCHAR}
            </if>
            <if test="surveyStatus != null">
                and survey_status = #{surveyStatus,jdbcType=TINYINT}
            </if>
            <if test="logoPath != null and logoPath != ''">
                and logo_path = #{logoPath,jdbcType=VARCHAR}
            </if>
            <if test="username != null and username != ''">
                and username = #{username,jdbcType=VARCHAR}
            </if>
            <choose>
                <when test="isDelete != null">
                    and is_delete = #{isDelete,jdbcType=TINYINT}
                </when>
                <otherwise>
                    and is_delete = 0
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="getSurveyWithBagAndQuestions" parameterType="java.lang.Long" resultMap="SurveyWithBagAndQuestionsMap">
        select
        s.id,s.survey_no,s.survey_name,s.survey_status,s.logo_path,
        s.username,s.create_time s_create_time,s.update_time s_update_time,
        s.create_user s_create_user,s.update_user s_update_user,s.is_delete s_is_delete,
        b.id as bag_id,b.bag_no,b.bag_name,b.bag_order,b.survey_id,
        b.create_time b_create_time,b.update_time b_update_time,b.create_user b_create_user,
        b.update_user b_update_user,b.is_delete b_is_delete,
        q.id as question_id,q.question_no,q.question_name,q.question_type,q.question_options,
        q.bag_id,q.create_time q_create_time,q.update_time q_update_time,q.create_user q_create_user,
        q.update_user q_update_user,q.is_delete q_is_delete
        from survey s left join bag b on s.id = b.survey_id
        left join question q on b.id = q.bag_id
        where s.id = #{id,jdbcType=BIGINT}
        and s.is_delete = 0
        and b.is_delete = 0
    </select>

</mapper>