<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties>
        <property name="dialect" value="MYSQL"/>
    </properties>

    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="autoMappingBehavior" value="PARTIAL"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="defaultStatementTimeout" value="25000"/>
        <setting name="defaultExecutorType" value="REUSE"/>
        <setting name="logImpl" value="LOG4J2"/>
    </settings>

    <typeAliases>
        <typeAlias alias="Salary" type="com.yh.survey.domain.guest.pojo.Salary"/>
        <typeAlias alias="SalaryCondition" type="com.yh.survey.domain.guest.condition.SalaryCondition"/>
        <typeAlias alias="User" type="com.yh.survey.domain.guest.pojo.User"/>
        <typeAlias alias="UserCondition" type="com.yh.survey.domain.guest.condition.UserCondition"/>
        <typeAlias alias="Survey" type="com.yh.survey.domain.guest.pojo.Survey"/>
        <typeAlias alias="SurveyCondition" type="com.yh.survey.domain.guest.condition.SurveyCondition"/>
        <typeAlias alias="Bag" type="com.yh.survey.domain.guest.pojo.Bag"/>
        <typeAlias alias="BagCondition" type="com.yh.survey.domain.guest.condition.BagCondition"/>
        <typeAlias alias="Question" type="com.yh.survey.domain.guest.pojo.Question"/>
        <typeAlias alias="QuestionCondition" type="com.yh.survey.domain.guest.condition.QuestionCondition"/>
        <typeAlias alias="Answer" type="com.yh.survey.domain.guest.pojo.Answer"/>
        <typeAlias alias="AnswerCondition" type="com.yh.survey.domain.guest.condition.AnswerCondition"/>
        <typeAlias alias="Admin" type="com.yh.survey.domain.manager.pojo.Admin"/>
        <typeAlias alias="AdminCondition" type="com.yh.survey.domain.manager.condition.AdminCondition"/>
        <typeAlias alias="Res" type="com.yh.survey.domain.manager.pojo.Res"/>
        <typeAlias alias="ResCondition" type="com.yh.survey.domain.manager.condition.ResCondition"/>
        <typeAlias alias="Auth" type="com.yh.survey.domain.manager.pojo.Auth"/>
        <typeAlias alias="AuthCondition" type="com.yh.survey.domain.manager.condition.AuthCondition"/>
        <typeAlias alias="Role" type="com.yh.survey.domain.manager.pojo.Role"/>
        <typeAlias alias="RoleCondition" type="com.yh.survey.domain.manager.condition.RoleCondition"/>
    </typeAliases>

    <plugins>
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <property name="dialect" value="mysql"/>
            <property name="offsetAsPageNum" value="false"/>
            <property name="rowBoundsWithCount" value="false"/>
            <property name="pageSizeZero" value="true"/>
            <property name="reasonable" value="false"/>
            <property name="supportMethodsArguments" value="false"/>
            <property name="returnPageInfo" value="none"/>
        </plugin>
    </plugins>

    <!-- mapper文件 -->
    <mappers>
        <mapper resource="mapper/SalaryMapper.xml"/>
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/SurveyMapper.xml"/>
        <mapper resource="mapper/BagMapper.xml"/>
        <mapper resource="mapper/QuestionMapper.xml"/>
        <mapper resource="mapper/AnswerMapper.xml"/>
        <mapper resource="mapper/AdminMapper.xml"/>
        <mapper resource="mapper/ResMapper.xml"/>
        <mapper resource="mapper/AuthMapper.xml"/>
        <mapper resource="mapper/RoleMapper.xml"/>
    </mappers>

</configuration>
