<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <aop:aspectj-autoproxy/>

    <bean id="logAspect" class="com.yh.survey.aspects.LogAspect"/>

    <aop:config>
        <aop:pointcut expression="(execution(* *..*Service.save*(..)) or
                                  execution(* *..*Service.insert*(..)) or
                                  execution(* *..*Service.update*(..)) or
                                  execution(* *..*Service.delete*(..)) or
                                  execution(* *..*Service.register(..)) or
                                  execution(* *..*Service.do*(..)) or
                                  execution(* *..*Service.deeply*(..)) or
                                  execution(* *..*Service.create*(..)))  and
                                  !bean(logServiceImpl)" id="mypoint"/>
        <aop:aspect ref="logAspect" order="1">
            <aop:around method="recordLog" pointcut-ref="mypoint"/>
        </aop:aspect>
    </aop:config>

</beans>